body {
  background-color: rgb(247, 247, 179);
  font-family: Arial;
  font-size: 20px;
}

h1 {
  font-size: 40px;
}

.first {
  color: red;
}

#your-name {
  background-color: rgb(255, 215, 106);
  border: 5px solid #444;
}
